﻿@model IntegritySheet.Models.SampleIntegritySheet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SampleIntegritySheet</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReceiveDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReceiveDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Customer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Project)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Project)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CopyWorkOrder)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CopyWorkOrder)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TurnAroundTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TurnAroundTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubmittedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubmittedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WorkOrder)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WorkOrder)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReceivingFacility1.FacilityName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReceivingFacility1.FacilityName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StatusLookup.StatusText)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StatusLookup.StatusText)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
