﻿@model IEnumerable<IntegritySheet.Models.SampleLocation>

@{
    ViewBag.Title = "Sample Descriptions";
}
<script>


    function SampleLocation(e) {
        window.location.href = "../SampleLocationContainers/Index/" + e.row.key;
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;

        e.toolbarOptions.items.unshift({
            location: "before",
            template: function () {
                return $("<div/>")
                    .addClass("informer")
                    .append(

                        $("<label for=\"Amount\">Amount</label> <input type=\"text\" id=\"LocationAmount\" width=\"50\" value=\"\" />")
                    );
            }
        }, {
            location: "before",
            widget: "dxButton",

            options: {
                text: "Add Descriptions",

                onClick: function (e) {
                    var dataGrid = $('#gridContainer').dxDataGrid('instance');
                    var selectedRows = dataGrid.getSelectedRowsData();
                    var amt = $("#LocationAmount").val();
                    var a = parseInt(amt);
                    if (Number.isInteger(a)) {
                        if (a <= 100) {
                             $.post("/SampleLocations/CreateSamples/", { id: @ViewBag.ID, amt: amt }).done(function () {
                             window.location.href = "/SampleLocations/Index/" + @ViewBag.ID;
                        });

                        }


                    }
                }
            }
        }, {
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "refresh",
                    text: "Add Container",
                    onClick: function (e) {
                        var dataGrid = $('#gridContainer').dxDataGrid('instance');
                        var selectedRows = dataGrid.getSelectedRowsData();
                        window.location.href = "/SampleLocationContainers/Index/" + selectedRows[0].ID + "/" + @ViewBag.ID;
                   }
                }
        });
    }

    function Comments() {
        window.location.href = "/Comments/Index/" + @ViewBag.ID;
    }

    @*function onCloneIconClick(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
        for (i = 0; i < selectedRows.length; i++) {


            var num = 0;

            $.ajax({
                type: "POST",
                url: "/SampleLocations/CloneSampleSelected/",
                async: false,
                data: { id: selectedRows[i].ID },
                success: function (response) { num = response; }
            });
        }
        var myvar =    "SampleLocations/Index/" + @ViewBag.ID;
        window.location.href = myvar;
    }*@

    function Save(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        dataGrid.saveEditData();;
    }

    function Delete(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
        var rowindex = dataGrid.getRowIndexByKey(selectedRows[0].ID);
        $.ajax({
            type: "POST",
            url: "/SampleLocations/DeleteRecords/",
            async: false,
            data: { id: selectedRows[0].ID },
            success: function (response) { num = response; }
        });
        dataGrid.refresh();
    }


    function DeleteSub(e) {
        var dg = "#GridSub" + e.val;
               let dataGrid = $('#GridSub' + e).dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
        var rowindex = dataGrid.getRowIndexByKey(selectedRows[0].ID);
        $.ajax({
            type: "POST",
            url: "/SampleLocations/DeleteRecordsSub/",
            async: false,
            data: { id: selectedRows[0].ID },
            success: function (response) { num = response; }
        });
        dataGrid.refresh();
    }

    function Clone(e) {

        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();

        //post to controller
        $.post("/SampleLocations/CloneSample/", { id: selectedRows[0].ID, arr: selectedRows }).done(function () {
            var myvar =    "SampleLocations/Index/" + @ViewBag.ID;
            window.location.href =  @ViewBag.ID;
        });
    }

    function Edit(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
        var rowindex = dataGrid.getRowIndexByKey(selectedRows[0].ID);
        dataGrid.editRow(rowindex);
    }
    function Cancel(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        dataGrid.cancelEditData();
    }

    function Print(e) {
        var myvar =    "/WorkOrderSummary/Details/" + @ViewBag.ID;
        window.location.href = myvar;
    }

    function SendToRobot(e) {
          //preform validation - true on
        var x = true;
        if (x) {

          $.ajax({
                type: "POST",
                url: "/SampleLocations/CheckValidation/",
                async: false,
                data: { id:  @ViewBag.ID },
                closeOnOutsideClick: true,
                showCloseButton: true,
              success: function (response) {
                  if (response.ID == 1) {

                      $("#popup").dxPopup({
                          title: "Error",
                          width: 300,
                          height: 280,
                          contentTemplate: function () {
                              return $("<p />").text(response.error);
                          }
                      });
                      $("#popup").dxPopup("show");

                  } else {


                      $.ajax({
                            type: "POST",
                            url: "/SampleLocations/SendToRobot",
                            async: false,
                            data: { id:  @ViewBag.ID, locationhost: location.host },
                            closeOnOutsideClick: true,
                            showCloseButton: true,
                          success: function (response) {


                              if (response.ID == 1) {

                                  $("#popup").dxPopup({
                                      title: "Error",
                                      width: 300,
                                      height: 280,
                                      contentTemplate: function () {
                                          return $("<p />").text(response.error);
                                      }
                                  });
                                  $("#popup").dxPopup("show");


                              } else {

                                var myvar =    "/Completed/Final/" + @ViewBag.ID;
                                window.location.href = myvar;


                              }},
                            error: function (response) {



                            }
                      });

                  }},
                error: function (response) {



                }
            });
        }

    }

    function Split(e) {
        window.location.href = "/SplitOrPreserves/Index/" + e.row.data.ID;
    }
</script>

<h2>Sample Descriptions</h2>
<div id="popup"></div>

@(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleLocation>()
    .DataSource(ds => ds.WebApi()
        .RouteName("SampleLocationsGridApi")
        .LoadAction("Get")
        .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.SISID = '" + ViewBag.ID + "'; } }")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .LoadParams(new { SISID = ViewBag.ID })
        .Key("ID")
    )
    .NoDataText("No Descriptions Found")
    .DateSerializationFormat("yyyy-MM-ddTHH:mm:ss")

    .LoadPanel(p => p.Enabled(true))
    .OnToolbarPreparing("toolbar_preparing")

    .ID("gridContainer")
    .Selection(s => s.Mode(SelectionMode.Multiple))

    .RemoteOperations(true)
    .Columns(columns => {
        columns.AddFor(m => m.Description).Caption("Sample Location");
        columns.AddFor(m => m.SampledBy).Caption("Sampled By");
        columns.AddFor(m => m.SampleDate).Caption("Sampled Date").DataType(GridColumnDataType.DateTime).AllowSorting(false);
    })
        .MasterDetail(md => {
        md.Enabled(true);
        
        md.Template(@<text>
            <div class="master-detail-caption"><%- data.Description %> Bottle Information:</div>
            @(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleLocationContainer>()
                .ColumnAutoWidth(true)
                
                .ID(new JS("'GridSub' + key"))
                .ShowBorders(true)
                .Columns(columns => {


                    columns.AddFor(m => m.Container.Bottle).DataField("Bottle");
                    columns.AddFor(m => m.Container.Check).DataField("Check");
                    columns.AddFor(m => m.SplitorPreserved).Caption("Is Split");
                    columns.AddFor(m => m.Response);
                    columns.AddFor(m => m.SampleType);
                    columns.Add()
             .Type(GridCommandColumnType.Buttons)
             .Width(110)
                         .DataField("Split")

             .Buttons(b =>
             {
                 // pre-defined buttons
                 b.Add().Name(GridColumnButtonName.Edit).Hint("Split").Icon("unselectall").OnClick("Split");
                 b.Add().Name(GridColumnButtonName.Delete);
                 //b.Add().Name(GridColumnButtonName.Save).OnClick("onCloneIconClick");
                 //b.Add().Name(GridColumnButtonName.Cancel).CssClass("saveicon");
             });
              })
                .Editing(e => e

                    .UseIcons(true)
                    .AllowUpdating(true)
                    .AllowDeleting(true)
                    .Mode(GridEditMode.Row)

                )
                .Selection(s => s.Mode(SelectionMode.Single))

                .DataSource(d => d.WebApi()
                    .RouteName("SampleLocationContainersGridApi")
                    .DeleteAction("Delete")
                    .LoadAction("Get")
                    .Key("ID")
                    .LoadParams(new { SLID = new JS("data.ID") })
                )

            )
        </text>);
    })
    .Editing(e => e
        .Mode(GridEditMode.Row)
        .AllowAdding(true)
        //.AllowUpdating(true)
       // .AllowDeleting(true)
    )

)
<br />
<br />
<div>



</div>
<div style="padding-left:25%">
    @(Html.DevExtreme().Button()
        .Text("Add Comments")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Comments")
    )
    @(Html.DevExtreme().Button()
        .Text("Edit")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Edit")
    )
    @(Html.DevExtreme().Button()
        .Text("Cancel")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Cancel")
    )
    @(Html.DevExtreme().Button()
        .Text("Save")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Save")
    )
    <br />
    <br />
    @(Html.DevExtreme().Button()
        .Text("Delete")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Delete")
    )
    @(Html.DevExtreme().Button()
        .Text("Clone")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Clone")
    )
    @(Html.DevExtreme().Button()
        .Text("Send To Robot")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("SendToRobot")
    )



</div>