﻿@using IntegritySheet.Models

@{
    ViewBag.Title = "Integrity Sheet";
}


<style>


    .saveicon {
        height: 40px;
        width: 40px;
    }
</style>
<h2>Completed Integrity Sheets</h2>

@(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleIntegritySheet>()
        .DataSource(ds => ds.WebApi()
            .RouteName("SampleIntegritySheetsGridApi")
            .LoadAction("Get")
            .InsertAction("Post")
            .UpdateAction("Put")
            .Key("ID")
            .LoadParams(new { STATUSID = 3 })
          )
        .OnRowInserted(@<text> function(e) { inserted(e); } </text>)
        .OnRowUpdated(@<text> function(e) { inserted(e); } </text>)
        // .OnInitNewRow(@<text> function(e) { setdate(e); } </text>)
        .RemoteOperations(true)
           .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
        .Placeholder("Search...")
    )


        .Columns(columns =>
        {

            columns.AddFor(m => m.ID).AllowEditing(false).AllowSorting(false);
            columns.AddFor(m => m.WorkOrder).DataType(GridColumnDataType.Number).AllowSorting(false).Width(100);

            columns.AddFor(m => m.Customer)
            .AllowSorting(true)
            .Name("Customer")


            .AllowFiltering(true)


            // .AllowEditing(false)

            .Caption("Customer");
            columns.AddFor(m => m.Project).AllowSorting(false)

            .AllowSorting(true)
            .Name("Project")
            .Width(110)
            .AllowSearch(true)
            .AllowFiltering(true);


            columns.AddFor(m => m.CreatedBy).AllowSorting(true);
            columns.AddFor(m => m.SubmittedBy).AllowSorting(true);

            columns.AddFor(m => m.ReceiveDate).SortOrder(SortOrder.Desc).DataType(GridColumnDataType.DateTime).AllowSorting(false);

            //  columns.AddFor(m => m.TurnAroundTime).DataType(GridColumnDataType.Number).AllowSorting(false).Width(40);

            columns.AddFor(m => m.StatusID).Lookup(lookup => lookup
                .DataSourceOptions(o => o
                    .PageSize(1000)
                    .Paginate(true))
                    .DataSource(ds => ds.WebApi().RouteName("SampleIntegritySheetsGridApi").LoadAction("GetRobotState").Key("ID"))
                .ValueExpr("StatusID")
                .DisplayExpr("StatusText"))
                // .AllowEditing(false)
                .AllowSorting(true)
                .AllowFiltering(true)

                .Caption("Status");




            columns.AddFor(m => m.ReceivingFacility).Lookup(lookup => lookup
                .DataSourceOptions(o => o
                    .PageSize(1000)
                    .Paginate(true))
                    .DataSource(ds => ds.WebApi().RouteName("SampleIntegritySheetsGridApi").LoadAction("GetFacilityData").Key("ID"))
                .ValueExpr("ID")


                .DisplayExpr("FacilityName"))
                .AllowSorting(false)
                .AllowFiltering(false)


                // .AllowEditing(false)

                .Caption("Facility");


        }).ColumnAutoWidth(true)
        .HeaderFilter(headerFilter => headerFilter.Visible(true))

        .ID("gridContainer")
        // .OnToolbarPreparing("toolbar_preparing")

        .Selection(s => s.Mode(SelectionMode.Single))
        .Editing(e => e
            .AllowAdding(false)
            .UseIcons(true)

            .AllowUpdating(false)
            .AllowDeleting(false)
            .Mode(GridEditMode.Row)

        )

)

<script>


    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            template: function () {
                return $("<div/>")

            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "refresh",
                text: "Reset Integrity Sheet",
                onClick: function (e) {
                    var dataGrid = $('#gridContainer').dxDataGrid('instance');
                    var selectedRows = dataGrid.getSelectedRowsData();

                    $.post("/Completed/ResetIS/", { id: selectedRows[0].ID}).done(function () {
                        window.location.href = "/Completed/Index/";
                    });
                }
            }
        });

    }

    function inserted(e) {
        window.location.href = "../COCResponses/Index/" + e.key;
    }

    function setdate(e) {
        const date = new Date();
        date.setDate(date.getDate() + 10);
        e.data.TurnAroundTime = date;

    }

    function setStateValue(rowData, value) {
        rowData.Customer = value;
        rowData.Project = null;
    }


    function getCities(options) {
        return {
            store: DevExpress.data.AspNet.createStore({
                key: "Client",
                loadUrl: '/api/SampleIntegritySheetsGrid/ElementProjectLookup'
            }),
            filter: options.data ? ["Client", "=", options.data.Customer] : null
        };
    }

    function onCloneIconClick(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        dataGrid.saveEditData();
        if (Number.isInteger(e.row.key)) {

            window.location.href = "../COCResponses/Index/" + e.row.key;
        }
    }
</script>
